VITE_POSTHOG_PROJECT_TOKEN=phc_your_project_token_here
VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_LINKEDIN_PARTNER_ID=your_linkedin_partner_id_here
VITE_LINKEDIN_UNLOCK_CLICK_CONVERSION_ID=
VITE_LINKEDIN_PAYWALL_OPEN_CONVERSION_ID=
VITE_LINKEDIN_CHECKOUT_START_CONVERSION_ID=
VITE_LINKEDIN_CHECKOUT_CONFIRMED_CONVERSION_ID=
